<div class="row">
  <div class="small-12 columns">
    <h1>Teams</h1>

    <ul>
      <% for team in @teams %>
        <li><%= link_to team.title, :action => "show", :id => team %>
      <% end %>
    </ul>    
  </div>
</div>