<div class="row">
  <div class="small-12 columns">
    <h1>New Perk</h1>
    <%= form_for :perk, url: team_event_perks_path(@team, @event) do |f| %>
  
      <%= render :partial => "form", :locals => {:f => f} %>

      <%= f.submit :class => 'button right' %>
    <% end %>
  </div>
</div>