<!--<div id="slogan" class="twelve columns">
  <h2>Watch the game wherever you are, <br />with fans of your favorite team.</h2>

  <h2>Watch games with other fans, wherever you are.</h2>

</div>-->

<div id="slogan">
  <h2>Tickets to fantastic NYC watch parties for your favorite team.</h2>  
</div>

<div id="intro">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>We bring the stadium.</h3>
      <p>Cheering for your team surrounded by friends and like-minded fans is an incredible experience. Don't settle for just a bar with the game on.</p>
    </div>
    <div class="small-12 medium-6 columns">
      <h3>You bring your friends.</h3>
      <p>Know any other die-hard fans in the city? Invite them to an event you're attending, and get rewarded with like free tickets.</p>
    </div>
  </div>
</div>

<%= render :partial => "pricing", :locals => {:events => @events} %>
