<!--<div id="slogan" class="twelve columns">
  <h2>Watch the game wherever you are, <br />with fans of your favorite team.</h2>

  <h2>Watch games with other fans, wherever you are.</h2>

</div>-->

<div id="wrap">
<div id="slogan">
  <!--<h2>Tickets to fantastic NYC watch parties for your favorite team.</h2>-->
  <!--<h1>Game watch events in NYC, for your favorite team.</h1>--> 
  <h1>Fannetic hosts watch events for your favorite team.</h1>  
</div>
</div>

<div id="intro">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>Freebies and specials included.</h3>
      <p>We've locked down the best game watch venues in the heart of Manhattan for exclusive viewing experiences with great deals.</p>
    </div>
    <div class="small-12 medium-6 columns">
      <h3>Plus rewards for inviting friends.</h3>
      <p>Cheering for your favorite team surrounded by friends and fans is an incredible experience. Fill the bar with fans and support your team.</div>
  </div>
</div>

<div class="row">
  <% @events.each.with_index do |event,index| %>
    <div class="event small-12 medium-6 large-4 columns">
      <%= render :partial => "pricing", :locals => {:event => event} %>
    </div>
  <% end %>
</div>
