<div class="row">
  <div class="small-12 columns">
    <h1>New Event</h1>
    <%= form_for :event, url: team_events_path(@team) do |f| %>
  
      <%= render :partial => "form", :locals => {:f => f} %>

      <%= f.submit :class => 'button right' %>
    <% end %>
  </div>
</div>