<h1>New Ticket for <%= @event.title %></h1>

<%= form_for :ticket, url: team_event_tickets_path(@team,@event) do |f| %>
  <p>Credit card information here</p>

  <div>
    <%= f.submit %>
  </div>
<% end %>