/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "foundation_and_overrides";

// Colors:
// http://www.colourlovers.com/palette/3159238/Mundo

#logo  {
  display: block;
  margin: 15px 0;
}

#nav {
  background-color: $topbar-bg;
}

.pricing-table.purchased .cta-button {
  /* background-color: #27ae60; */
  background-color: #333;
}

.pricing-table a:link .cta-button h3,
.pricing-table a:hover .cta-button h3,
.pricing-table a:active .cta-button h3,
.pricing-table a:visited .cta-button h3 {
  color: $price-cta-color;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  margin: 0.5rem;
}

#footer{
  padding: 30px inherit;  
  
  h1,h2,h3 {
    color: white;    
  }
  p {
    color: rgba(255,255,255,0.65);
  }
  a {
    color: white;
  }
}
#not-footer {
  background-color: $body-bg-real;
  padding-bottom: 20px;
}


#wrap {
  // background: url(http://cache2.asset-cache.net/gc/456055277-american-football-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=9lVLvZZUudAcDBPnt7YVa4io%2fGw38WJf4QvNXVvDwhLQEn53aJgfrMNL16QzQTmE) no-repeat center center;
  // background-size: 100% auto;
}
#slogan {
  // background-color: #c0392b;
  background-color: #ba2e00;

  // background-color: rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  border: 0px solid rgba(0,0,0,0.2);
  border-width: 8px 0 2px 0;
  padding: 30px 15px;
  // padding: 50px 15px;

  h1 {
    // display: inline-block;
    // padding: 5px;
    // background-color: rgba(0,0,0,0.6);
    //font-weight: 600;
    color: white;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.4);
  }
  h3,
  h3 a {
    color: rgba(255,255,255,0.8);
  }
}
#intro {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 2rem;
  h3 {
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 0px white;
  }
}


#logo {
  display: block;
  margin: 5px inherit;
}
