/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "foundation_and_overrides";

#logo  {
  display: block;
  margin: 15px 0;
}

#nav {
  background-color: $topbar-bg;
}

.pricing-table a:link .cta-button h3,
.pricing-table a:hover .cta-button h3,
.pricing-table a:active .cta-button h3,
.pricing-table a:visited .cta-button h3 {
  color: $price-cta-color;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

#footer{
  padding: 30px inherit;  
  
  h1,h2,h3 {
    color: white;    
  }
  p {
    color: rgba(255,255,255,0.65);
  }
}
#not-footer {
  background-color: $body-bg-real;
  padding-bottom: 20px;
}

#slogan {
  background-color: #c0392b;
  color: white;
  text-align: center;
  padding: 30px 15px;
  margin-bottom: 20px;
  border: 0px solid #9a2e22;
  border-width: 8px 0 2px 0;

  h2 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
  }
}

#logo {
  display: block;
  margin: 5px inherit;
}
